:root {
  /* brand palette */
  --colour-primary: hsl(47, 98%, 51%);
  --colour-accent: hsl(47, 98%, 51%);
  --colour-assistant: hsl(214, 100%, 40%);
  /* text pairings */
  --text-primary: hsl(0, 0%, 0%);
  --text-accent: hsl(0, 0%, 0%);
  --text-assistant: hsl(0, 0%, 100%);
  /* reversible greys */
  --tint-1: hsl(0, 0%, 20%);
  --tint-2: hsl(0, 0%, 40%);
  --tint-3: hsl(0, 0%, 60%);
  --tint-4: hsl(0, 0%, 80%);
  --tint-5: hsl(0, 0%, 90%);
  --tint-6: hsl(0, 0%, 95%);
}